@import './utils/variations';
@import './base/reset';
@import './utils/mixins';
@import './base/common';
@import './utils/hidden';

@import './components/container';
@import './components/input';
@import './components/modal';
@import './utils/logo';

@import './layouts/header';
@import './layouts/menu';
@import './layouts/hero';
@import './layouts/corporation';
@import './layouts/skills';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/footer';
@import './layouts/portfolio';
