@mixin font($weight, $size, $height, $spacing) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $spacing;
}
@mixin align {
    display: flex;
    align-items: center;
}