:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acent-color: #2196F3;
    --acent-text-color: #FFFFFF;
    --logo-header: #000000;
    --container-color: #EEEEEE;
    --section-bottom: #F5F4FA;
    --background-container: #2F303A;
    --footer-text: rgb(255, 255, 255, 0.6);
    --bgd-container: #C4C4C4;
}