.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    @include tablet {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include dektop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients-hidden {
    margin-bottom: 50px;

    color: var(--title-text-color);
    text-align: center;
    @include font(700, 28px, 1.17, 0.03em);
    @include tablet {
        @include font(700, 28px, 1.17, 0.03em);
    }
    @include dektop {
        @include font(700, 36px, 1.16, 0.03em);
    }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients-icon-item {
    width: calc((100% - 30px) / 2);
    height: 92px;
    @include tablet {
        width: calc((100% - 60px)/3);
    }
    @include dektop {
        width: calc((100% - 150px)/6);
    }   
}

.clients-icon-link {
    @include align;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: border-color 250ms linear;
    &:hover, &:focus {
    border-color: var(--acent-color);
    }
}

.clients-icon {
    fill: #AFB1B8;
    transition: fill 250ms linear;
    .clients-icon-link:hover &,
    .clients-icon-link:focus & {
    fill: var(--acent-color);
    }
}

