.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-container);
}

.logo-footer {
    text-decoration: none;
    font-family: 'raleway', sans-serif;
    @include font(700, 24px, 1.169, 0.03em);
    @include tablet {
        @include font(700, 24px, 1.16, 0.03em);
    }
    @include dektop {
        @include font(700, 26px, 1.19, 0.03em);
    }
}

.nav-link:not(:last-child) {
    margin-bottom: 9px;
}


.nav .nav-address {
    color: var(--acent-text-color);

    text-decoration: none;
    font-style: normal;
    @include font(null, 14px, 1.71, 0.03em);

    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}

.nav .nav-info {
    color: var(--footer-text);
    text-decoration: none;
    font-style: normal;
    @include font(null, 14px, 1.71, 0.03em);

    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}

.address-footer {
    margin-top: 20px;
}

.footer-hidden {
    margin-bottom: 20px;

    color: var(--acent-text-color);
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
}

.footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.footer-wrap{
    display: flex;
    // justify-content: space-between;
    align-items: baseline;
}
.form-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container-address {
    margin-right: 97px;
}

.container-link {
    margin-right: 94px;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    @include align;
    justify-content: center;

    transition: background-color 250ms linear;

    &:hover,
    &:focus {
        background-color: var(--acent-color);
    }
}

.footer-soc-icon {
    fill: var(--acent-text-color);
    transition: fill 250ms linear;

    .footer-soc-link:hover &,
    .footer-soc-link:focus & {
        fill: var(--acent-text-color);
    }
}

.footer-input-label {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--acent-text-color);

    & span {
        display: block;
        margin-bottom: 20px;
    }
}

.footer-input {
    width: 358px;
    height: 50px;
    transition: fill 250ms linear;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    outline: transparent;
    background-color: transparent;

    &::placeholder {
        @include font(400, 16px, 1.25, 0.03em);
        @include align;
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-button {
    padding: 10px 28px;
    margin: 0 auto;
    display: block;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--acent-text-color);
    background-color: #2196F3;
    font-family: inherit;
    @include font(700, 16px, 1.87, 0.06em);
    border: none;
    cursor: pointer;
    margin-left: 12px;

    @include align;
    justify-content: center;
}

.modal-send {
    fill: var(--acent-text-color);
    margin-left: 10px;
}