.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--bgd-container);
    @include tablet {
        padding-top: 118px;
        padding-bottom: 118px;
        width: 100%;
    }
    @include dektop {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
    }
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    color: var(--acent-text-color);
    @include font(900, 26px, 1.61, 0.06em);
    text-align: center;
    text-transform: uppercase;
    @include tablet {
        @include font(900, 26px, 1.61, 0.06em);
    }
    @include dektop {
        @include font(900, 44px, 1.36, 0.06em);
    }
}

.hero-button {
    min-width: 216px;
    height: 50px;

    padding: 0;
    margin: 0 auto;
    display: block;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--acent-text-color);
    background-color: var(--acent-color);
    font-family: inherit;
    @include font(700, 16px, 1.87, 0.06em);
    border: none;
    cursor: pointer;
}