.button {
    padding: 6px 22px;
}

.button.current-btn {
    padding: 6px 25px;
}

.portfolio-nav {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-nav .button.current-btn {
    color: var(--acent-text-color);
    background-color: var(--acent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-btn {
    justify-content: center;
    margin-bottom: 50px;
    display: flex;
    gap: 8px;
}

.portfolio-nav .button {
    border-radius: 4px;
    color: var(--title-text-color);
    background-color: var(--section-bottom);
    border: none;
    font-family: inherit;
    @include font(500, 16px, 1.62, 0.03em);
    text-align: center;
    cursor: pointer;

    transition: background-color 250ms linear, color 250ms linear, box-shadow 250ms linear;

    &:hover, &:focus {
    color: var(--acent-text-color);
    background-color: var(--acent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    }
}

.portfolio-link {
    padding: 0;
    background-color: var(--acent-text-color);
    flex-basis: calc((100% - 60px)/3);
}


.portfolio-img {
    display: inline-block;
    transition: box-shadow 250ms linear;
    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-header {
    color: var(--title-text-color);
    @include font(700, 18px, 2, 0.06em);
}

.portfolio-text {
    color: var(--primary-text-color);
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.link-text {
    border: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
}

.portfolio-text {
    margin-top: 4px;
}

.portfolio {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.text-top-wrap {
    position: relative;
    overflow: hidden;
}

.top-text {
    @include font(null, 18px, 1.56, 0.03em);
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);

    position: absolute;
    top: 0;
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms linear;

    .portfolio-link:hover &,
    .portfolio-link:focus & {
    transform: translateY(0);
    }
}